body{
    margin: 0 10% 0 10%;
}

.bienvenida {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
        img {
            padding: 5% 15% 0px 15%;
            width: 100%;
            }
    }

.bienvenida h2 {
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    }

.modal-dialog {
    width: 50%;
    max-width: 50%;
    height: 50%;
    max-height: 50%;
    }

.modal-content {
    height: 50%; 
    }

.modal-body{
    .contactame{
        display: flex;
    }
}

.contactame{
    display: flex;
    flex-direction: column;
    p{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    h4{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.logo {
    display: flex;
    a{
        display: flex;
        justify-content: center;
    }
    img{
        width: 40%;
    } 
}

/* Estilo general para el modal */
.modal-content {
    width: auto; /* Asegúrate de que no tenga un tamaño fijo */
    height: auto; /* Asegúrate de que no tenga un tamaño fijo */
}


@media (max-width: 768px) {
    .modal-dialog {
        width: 90%; 
        margin: 10px auto;
    }

    .modal-content {
        height: auto;
        padding: 10px; 
    }

    .modal-body {
        overflow-y: auto; 
        max-height: 70vh;
    }

   
    .modal-body img {
        max-width: 100%; 
        height: auto; 
    }
}
